<div class="container">
   <div class="row">
      <div class="col-md-6">
         <img src="assets/images/homepage.jpeg" class="img-fluid" alt="Homepage Illustration">
         <p class="text-center">
            <small class="text-muted">
                Illustration from <a href="https://www.freepik.com/free-vector/work-progress-concept-illustration_12780619.htm" traget="_blank">freepik</a>. 
            </small>
        </p>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
         <div class="animate"><h1 class="text fs-1 fw-bold">Welcome to Student management</h1></div>
         <p class="lead text-justify">Streamline your academic experience with our intuitive Student Management App. Effortlessly manage courses, grades, attendance, and more!</p>
         <p class="lead fw-bold">Experience a new level of academic excellence today.</p>
      </div>
   </div>
</div>
