<div class="container-fluid p-3">
   <div class="top-container p-2">
      <div class="row border-bottom border-2 border-secondary">
         <h4 class="text">Welcome! {{ userName }}</h4>
      </div>
   </div>
   <div class="counter-container pt-2">
      <div class="row d-flex justify-content-center">
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h1 class="card-title">
                     Class
                  </h1>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h1 class="card-title">
                     Students
                  </h1>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h1 class="card-title">
                     Assignments
                  </h1>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h1 class="card-title">
                     Exams
                  </h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>