<div class="d-flex flex-row main-dashboard">
    <div class="p-0 side-menu">
        <app-sidemenu (contentSelected)="onContentSelected($event)"></app-sidemenu>
    </div>
    <div class="main w-100">
        <ng-container *ngIf="selectedContent === 'home'">
            <app-home></app-home>
        </ng-container>
        <ng-container *ngIf="selectedContent === 'assignments'">
            <app-assignments></app-assignments>
        </ng-container>
        <ng-container *ngIf="selectedContent === 'marks'">
            <app-marks></app-marks>
        </ng-container>
        <ng-container *ngIf="selectedContent === 'results'">
            <app-results></app-results>
        </ng-container>
        <ng-container *ngIf="selectedContent === 'profile'">
            <app-profile></app-profile>
        </ng-container>
    </div>
</div>
