.left-sidebar {
   height: 100vh;
}
.menu-item {
   cursor: pointer;
   padding: 10px 0;
 }
 
 .menu-item-active {
   background-color: #ffffff; /* You can customize the active item background color */
 }
 