<div class="d-flex flex-column bg-dark left-sidebar p-4">
    <div class=" p-2 text-white menu-item" (click)="showContent('home')">
        <span class="ms-1 fs-5 fw-normal d-none d-sm-inline">Home</span>
    </div>
    <div class=" p-2 text-white menu-item" (click)="showContent('assignments')">
        <span class="ms-1 fs-5 fw-normal d-none d-sm-inline">Assignments</span>
    </div>
    <div class=" p-2 text-white menu-item" (click)="showContent('submissions')">
        <span class="ms-1 fs-5 fw-normal d-none d-sm-inline">Submissions</span>
    </div>
    <div class=" p-2 text-white menu-item" (click)="showContent('results')">
        <span class="ms-1 fs-5 fw-normal d-none d-sm-inline">Results</span>
    </div>
    <div class=" p-2 text-white menu-item" (click)="showContent('profile')">
        <span class="ms-1 fs-5 fw-normal d-none d-sm-inline">Profile</span>
    </div>
</div>